# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Alik Saring (alikdell)
# Bharath Sreekanth (bharathsreekanth)
# Christian Coffield (ChristianAtDell)
# Gallacher Sean (gallacher)
# Jacob Grosner (JacobGros)
# Matt Schmaelzle (mjsdell)
# Nida Taranum (nidtara)
# Prasanna Muthukumaraswamy (prablr79)
# Santhosh Lakshmanan (santhoshatdell)
# Trevor Dawe (tdawe)
# Utkarsh Dubey (delldubey)
# Yamunadevi Shanmugam (shanmydell)

# for all files:
@alikdell @bharathsreekanth @ChristianAtDell @delldubey @gallacher @JacobGros @mjsdell @nidtara @prablr79 @santhoshatdell @shanmydell @tdawe
